/* base.css */

/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font */
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}